*{
    margin:auto;
    text-align: center;
    font-size: 1.1rem;
}
body{
    padding-bottom: 16px;
    padding-top: 24px;
    border-radius: 16px;
}
h3{
color:#b9b904;
    font-size: 1.5rem;
    text-align: center;

}
h1{
    text-align: center;
    color: #b90404;
    font-size: 2.5rem;
}
#profile-image {
    width:150px;
    height:150px;
    border-radius: 50%;
}
.swim {
    box-shadow: rgb(43, 42, 42) 0px 0px 10px;
    margin: 20px;
    border-radius:2%;
}
.read {
     box-shadow: rgb(43, 42, 42) 0px 0px 10px;
    margin: 20px;
    border-radius:2%;
    
}
.chess {  box-shadow: rgb(43, 42, 42) 0px 0px 10px;
    margin: 20px;
    border-radius:2%;
    
}
.intro {
      box-shadow: rgb(43, 42, 42) 0px 0px 10px;
    margin: 20px;
    border-radius:2%;
}